# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore backup files
*.tfvars
*.tfplan

# Ignore local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore .terraform directory
.terraform/
